.landing-layout{
    display: grid;
    grid-template-areas: "header" 
                         "hero";
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr;
    height: 100dvh;
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;   
     
}
.navbar__container{
    grid-area: header;
}  
.hero__container{
    grid-area: hero;
    height: 100%;
}