   <div class="link-dialog">
       <form class="form" [formGroup]="shortUrlForm">
                <h4 mat-dialog-title class="form__title"> Empieza a generar
                    links cortos
                    de forma gratuita
                </h4>
                <mat-form-field appearance="fill" class="form__field" >
                    <mat-label>URL largo</mat-label>
                    <input type="url" matInput class="form__input" formControlName="longUrl" >
                    @if(this.shortUrlForm.controls['longUrl'].errors?.['pattern']){
                        <mat-error> Ingresa una url válida </mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="fill" class="form__field">
                    <mat-label>Fecha de expiración</mat-label>
                    <input type="datetime" matInput class="form__input"  [matDatepicker]="picker" formControlName="expiredDate" >
                    <mat-hint >MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div mat-dialog-actions class="form__buttons">
                    <button type="button" mat-flat-button   class="form__button" (click)="shortLink()" > {{ this.data.update ? "Actualizar link" : "Acorta link"}} </button>
                    <button type="button" mat-stroked-button  [matDialogClose] class="form__button"  >Cancelar</button>
                </div>
       </form>
   </div>

