.container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "sidebar navbar"
                         "sidebar content";
    height: 100dvh;
   
                    
    & .navbar-container{
        grid-area: navbar;
        border-bottom: 1px solid var(--divider-color);
    }
    & .sidebar-container{
        grid-area: sidebar;
        border-right: 1px solid var(--divider-color);
    }
    & .content{
        grid-area: content;
        /* background-color: rgba(255, 127, 80, 0.059); */
    }
}